.menu-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--space) * 3);
  i {
    font-size: 5rem;
  }
  input[type="text/name"] {
    width: 50%;
    padding: 1.2rem;
    text-align: center;
    outline: none;
  }
  input[type="text"] {
    width: 80%;
    height: 80px;
    text-align: center;
    outline: none;
  }
  input[type="number"] {
    text-align: center;
    outline: none;
  }
}
