.modal-container {
  position: fixed;
  width: 40%;
  max-width: 600px;
  min-width: 400px;
  height: 550px;
  box-shadow: var(--shadow-l);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  > svg {
    width: 100%;
  }
}
.body {
  width: 100%;
  .menu-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--space) * 3);
    i {
      font-size: 5rem;
    }
    input[type="text/name"] {
      width: 50%;
      padding: 1.2rem;
      text-align: center;
      outline: none;
    }
    input[type="text"] {
      width: 80%;
      height: 80px;
      text-align: center;
      outline: none;
    }
    input[type="number"] {
      text-align: center;
      outline: none;
    }
  }
}

// media

@media screen and (max-width: 600px) {
  .modal-container {
    height: 450px;
    min-width: max-content;
  }
}
